div.dt-button-collection {
    width: 400px;
}
 
div.dt-button-collection button.dt-button {
    display: inline-block;
    width: 32%;
}
div.dt-button-collection button.buttons-colvis {
    display: inline-block;
    width: 49%;
}
div.dt-button-collection h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    font-size: 1em;
    padding: 0 1em;
}
div.dt-button-collection h3.not-top-heading {
    margin-top: 10px;
}

/* Estilos para DataTables */
table.dataTable thead th {
    background-color: #1d437f;
    color: #c0c9d5;
    text-align: center;
}

.contenedor-form {
    background-color: #1d437f;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

.titulo-form {
    text-align: center;
    padding-top: 20px;
}

.contenedor-form .form-control{
    color:black;
}

.contenedor-form label {
    margin-top: 10px;
}

.contenedor-form form input, form select, form textarea {
    border: 1px solid #1d437f;
    color: #c0c9d5;
}

.contenedor-form .btn-success {
    background-color: #0f2250;
    color: #ffffff;
    margin: 10px;
}

.contenedor-form .btn-primary {
    background-color: #0f2250;
    color: #ffffff;
}

.contenedor-form .btn-primary:hover {
    background-color: #1d437f;
    color: #ffffff;
    box-shadow: 1px 0.5px 1px 0.5px #f5f5f5;
}

.contenedor-form .btn-success:hover {
    background-color: #1d437f;
    color: #ffffff;
    box-shadow: 1px 0.5px 1px 0.5px #f5f5f5;
}

/* Cambiar el color del texto en DataTables a blanco */
table.dataTable thead .dataTables_filter label input,
table.dataTable_paginate .paginate_button,
.dataTables_info, .dataTables_filter label {
    color: #ffffff;
}

div.dt-buttons button.dt-button:first-child,
div.dt-buttons button.dt-button.custom-html-collection,
div.dt-buttons button.dt-button.buttons-collection.buttons-page-length {
    color: #f5f5f5;
    background-color:  #1d437f;
    border-color: #112443;
}

/* Estilos para el estado hover */
div.dt-buttons button.dt-button.custom-html-collection:hover,
div.dt-buttons button.dt-button.buttons-collection.buttons-page-length:hover {
    color: #ffffff; /* Nuevo color del texto en hover */
    background-color: #0f2250; /* Nuevo color de fondo del botón en hover */
    box-shadow: 1px 0.5px 1px 0.5px #f5f5f5;
}

div.dt-buttons button.dt-button:first-child:hover{
    color: #ffffff; /* Nuevo color del texto en hover */
    background-color: #0f2250; /* Nuevo color de fondo del botón en hover */
    box-shadow: 1px 0.5px 1px 0.5px #f5f5f5;
}

#numCart {
	position: relative;
	top: 6px;
	font-size: 30px;
	color: #ffffff;
}